<app-navbar> </app-navbar>
<main>
  <div class="detailsLayout">
    <div class="leftSide">
      <div class="leftSideLayout">
        <div *ngIf="bookDetails" class="book" >
          <img [src]="bookDetails.coverImage" alt="Book Cover" width="150" height="200" (error)="$any($event.target).src=coverPlaceholder" />
        </div>
        <div class="bookRatings">
          <span class="bookTitle" *ngIf="bookDetails" style="color: #726522">{{
            bookDetails.title
            }}</span>
          <div class="actualRatings" *ngIf="bookDetails">
            Rating :
            <ng-container *ngFor="
                let rating of generateRatingArray(bookDetails.averageRating)
              ">
              <img width="16" height="16" src="https://img.icons8.com/office/16/book.png" alt="book"
                [ngClass]="{ 'half-star': rating === 0.5 }" />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="rightSide">
      <div class="details-container" *ngIf="bookDetails">
        <div class="title">{{ bookDetails.title }}</div>
        <div class="authors">
          <span style="color: #726522"> Authors: </span>{{ bookDetails.authors.join(", ") }}
        </div>
        <div class="description" style="font-style: italic;">{{ bookDetails.description }}</div>
        <div class="genre">
          <span style="color: #726522"> Genre: </span>{{ bookDetails.genre }}
        </div>
        <div class="language">
          <span style="color: #726522"> Language: </span>{{ bookDetails.language }}
        </div>
        <div class="isbn">
          <span style="color: #726522"> ISBN: </span>{{ bookDetails.isbn }}
        </div>
        <div class="publisher">
          <span style="color: #726522"> Publisher: </span>{{ bookDetails.publisher }}
        </div>
        <div class="published-date">
          <span style="color: #726522"> First Published: </span>{{ bookDetails.publishedDate | date:'yyyy-MM-dd'  }}
        </div>
        <div class="edition">
          <span style="color: #726522"> Edition: </span>{{ bookDetails.edition }}
        </div>
      </div>
    </div>
  </div>

  <div class="buttonsLayout">
    <button class="addToCurrentlyReadingBtn" (click)="addToCurrentlyReading()">
      Add to Currently Reading
    </button>

    <button class="addToWantToReadBtn" (click)="addToWantToRead()">
      Add to Want to Read
    </button>
    <button class="addToReadBtn" (click)="addToRead()">Add to Read</button>
  </div>

  <div class="ratingLayout">
    <div class="selectRating">
      <h3>What do you think ?</h3>
      <div class="star-rating">
        <input type="radio" id="5-stars" name="rating" value="5" #star5 />
        <label for="5-stars" class="star">&#9733;</label>
        <input type="radio" id="4-stars" name="rating" value="4" #star4 />
        <label for="4-stars" class="star">&#9733;</label>
        <input type="radio" id="3-stars" name="rating" value="3" #star3 />
        <label for="3-stars" class="star">&#9733;</label>
        <input type="radio" id="2-stars" name="rating" value="2" #star2 />
        <label for="2-stars" class="star">&#9733;</label>
        <input type="radio" id="1-star" name="rating" value="1" #star1 />
        <label for="1-star" class="star">&#9733;</label>
      </div>
    </div>
    <div class="writeReview">
      <textarea placeholder="Write your review here" class="review" #reviewInput></textarea>
    </div>
    <div style="display: flex;">
      <button class="submitBtn reviewSubmit" (click)="submitReview(star1, star2, star3, star4, star5, reviewInput.value)">
        Submit
      </button>
      <button (click)="checkUserReview()" class="submitBtn reviewSubmit" >Delete</button>
    </div>
  </div>

  <div class="showReviewsLayout">
    <div class="reviewsSection">
      <h3 style="margin-left: 35px;">Reviews from Other Users</h3>

      <div *ngFor="let review of reviews" class="review-item">
        <div class="card">
          <div class="user" style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            ">
            {{ review.username }}
          </div>
          <div class="rating" style="color: #6a4a3a; font-size: 24px;" [innerHTML]="generateStarRating(review.rating)"></div>
          <br>
          <!-- <div class="rating">Rating: {{ review.rating }}</div> -->
          <div class="content">{{ review.content }}</div>
          <!-- Like button -->
          <br>
          <button (click)="likeReview(review)" class="likeButton">
            <span>{{ review.likeCount }}</span> 👍🏾 Like
          </button>
          <!-- Unlike button -->
          <button (click)="unlikeReview(review)" class="likeButton">
            👎🏾 Unlike
          </button>

          <!-- Comment button -->
          <button (click)="toggleCommentBox(review)" class="cmtButton">
            🗨️ Comment
          </button>

          <!-- Comment text box and post button -->
          <div *ngIf="review.showCommentBox" > 
            <textarea [(ngModel)]="review.newComment" placeholder="Enter your comment" style="width: 200px"></textarea>
            <button (click)="postComment(review)" class="likeButton">
              Post
            </button>
          </div>
          <!-- Show Comments button -->
          <button (click)="toggleComments(review)" class="likeButton showCmtbtn">
            {{
            review.showComments
            ? "Hide Comments ▲"
            : "Show Comments ▼"
            }}
          </button>

          <!-- Comments section -->
          <div *ngIf="
              review.showComments &&
              review.comments &&
              review.comments.length > 0
               
            ">
            <h4>Comments:</h4>
            <div *ngFor="let comment of review.comments" class="comment-item" style="margin-left: 20px;">
              <div class="comment-user" style="font-weight: bold;">{{ comment.username }} :</div>
              <div class="comment-text">{{ comment.comment }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  
</main>