<app-navbar> </app-navbar>
<main style="background-color: #F9F6EA;">
  <div class="greetings" style="  background-color: #e9e5cd; padding-left: 15px; padding-right:15px ;">
    <span class="heading1"> Welcome to PageTurn </span>
    <br />
    Meet your favorite book, explore new literary worlds, and manage your
    reading life
    <br />
    <div style="margin-top: 1rem; padding-left: 15px; padding-right:15px ;" >
      <p>{{ quote }}</p>
      <p>- {{ author }}</p>
    </div>
  </div>

  <div class="recommendation">
    <div class="heading2">Recommendation</div>
    <div class="recommendedBooks">

      <div *ngFor="let book of recommendedBooks" class="book ">
        <a [routerLink]="['/books', book._id]">
          <div class="bookImage">
            <img [src]="book.coverImage" alt="Book Cover" width="150" height="200" (error)="$any($event.target).src=coverPlaceholder">
          </div>
          <div class="bookTitle"> {{ book.title }}</div>
          <div class="bookRating">
            <ng-container *ngFor="let rating of generateRatingArray(book.averageRating)">
              <img width="16" height="16" src="https://img.icons8.com/office/16/book.png" alt="book"
                [ngClass]="{'half-star': rating === 0.5}">
            </ng-container>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="heading2">Check this Out :</div>
  <div class="surpriseLayout">
    <div class="surpriseImg">
      <img src="{{ randomBook?.coverImage }}" alt="Book Cover" *ngIf="randomBook && randomBook.coverImage" width="200" height="300" (error)="$any($event.target).src=coverPlaceholder">
    </div>
    <div class="surpriseDetails" *ngIf="randomBook">
      <div class="surpriseH">

        <h2>{{ randomBook.title }}</h2>
        <p>Author: {{ randomBook.authors }}</p>
      </div>
      <p class="scroll">{{ randomBook.description }}</p>
    </div>
  </div>
  

  <div class="popular">
    <div class="heading2">All Books</div>
    <div class="recommendedBooks">
      <div *ngFor="let book of books" class="book scrollClass">
        <a [routerLink]="['/books', book._id]">
          <div class="bookImage">
            <img [src]="book.coverImage" alt="Book Cover" width="150" height="200" (error)="$any($event.target).src=coverPlaceholder">
          </div>
          <div class="bookTitle"> {{ book.title }}</div>
          <div class="bookRating">
            <ng-container *ngFor="let rating of generateRatingArray(book.averageRating)">
              <img width="16" height="16" src="https://img.icons8.com/office/16/book.png" alt="book"
                [ngClass]="{'half-star': rating === 0.5}">
            </ng-container>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>