<app-navbar> </app-navbar>

<div *ngIf="searchResults">
  <h2 style="color: #75420e; font-size: 20px; margin-left: 25px;">Search Results</h2>
  <ul>
    <div *ngFor="let result of searchResults">
      <a [routerLink]="['/books', result._id]">
        <div class="bookCard" style="display: flex;">
          <img [src]="result.coverImage" alt="Book Cover" width="150" height="200" (error)="$any($event.target).src=coverPlaceholder">
          <div style="margin-left: 50px;">
            <p>Title: {{ result.title }}</p>
            <p>Author: {{ result.authors}}</p>
            <p>ISBN: {{ result.isbn }}</p>
          </div>
        </div>
      </a>
    </div>
  </ul>
</div>

<div *ngIf="!searchResults">
  <p>No search results found.</p>
</div>