<app-navbar> </app-navbar>
<main>
  <div class="greetings">
    <span class="heading1"> Your Book Shelf </span>
    <br />
    Track your favourite books here.
    <br />
  </div>


  <div class="container">
    <div class="box">
      <input type="radio" class="tab-toggle" name="tab-toggle" id="tab1" checked>
      <input type="radio" class="tab-toggle" name="tab-toggle" id="tab2">
      <input type="radio" class="tab-toggle" name="tab-toggle" id="tab3">

      <ul class="tab-list">
        <li class="tab-item">
          <label class="tab-trigger" for="tab1">Currently Reading</label>
        </li>
        <li class="tab-item">
          <label class="tab-trigger" for="tab2">Want to Read</label>
        </li>
        <li class="tab-item">
          <label class="tab-trigger" for="tab3">Read</label>
        </li>
      </ul>

      <div class="tab-container">
        <div class="tab-content">
          <div *ngIf="currentlyReadingBooks.length > 0">

            <div *ngFor="let book of currentlyReadingBooks" style="display: flex;  margin-bottom: 10px;">
              <a [routerLink]="['/books', book._id]" style="display: flex;">
                <img [src]="book.coverImage" alt="Book Cover" width="150" height="200" (error)="$any($event.target).src=coverPlaceholder">
                <div style="margin-left: 50px;">{{book.title}}</div>

              </a>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div *ngIf="wantToReadBooks.length > 0">
            <!-- Wrap each book card in an anchor tag -->
            <div *ngFor="let book of wantToReadBooks" style="display: flex;">
              <a [routerLink]="['/books', book._id]" style="display: flex; margin-bottom: 10px;">
                <img [src]="book.coverImage" alt="Book Cover" width="150" height="200" (error)="$any($event.target).src=coverPlaceholder">
                <div style="margin-left: 50px;">{{book.title}}</div>
              </a>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div *ngIf="readBooks.length > 0">
            <!-- Wrap each book card in an anchor tag -->
            <div *ngFor="let book of readBooks" style="display: flex;  margin-bottom: 10px;">
              <a [routerLink]="['/books', book._id]" style="display: flex;">
                <img [src]="book.coverImage" alt="Book Cover" width="150" height="200" (error)="$any($event.target).src=coverPlaceholder">
                <div style="margin-left: 50px;">{{book.title}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>